#!/bin/bash
#
# Usage:
# cp config.example config
#
# Fill in your nn_address and nn_pubkey and make any relevant preference or system specific changes
#
# @author webworker01
#

#Full path to komodo-cli
komodocli=/usr/local/bin/komodo-cli

#Full path to komodod
komodod="$HOME/komodo/src/komodod"

#set the season to allow different setups when we're between seasons
nn_season=6

#set to 1 if this is the server for third party coins, else leave as 0
thirdpartycoins=0

#Set internal iguana port (current 7776 for first party, 7779 for third party)
iguanaport=7776

#Enter your notary node compressed address (no quotes)
nn_address=

#Enter your notary node compressed pubkey (no quotes)
nn_pubkey=

#Enter your notary node IPv4 address
nn_ipaddress=

#Enter address to send excess mined funds to (compressed address no quotes)
send_mined_to_address=

#Whitelist other addresses incoming funds are expected from - own address is automatically whitelisted
whitelist_addresses=("RKrMB4guHxm52Tx9LG8kK3T5UhhjVuRand" "RVB7Vd4JbbjQPV1WE5ZdeWmWo5EjMpXDH6" "RDragoNHdwovvsDLSLMiAEzEArAD3kq6FN")

#or disable whitelisting for all coins
#whitelist_address=""

#Skip applying whitelist addresses when starting these coins
skip_whitelist=('VOTE2022' 'PIRATE')

#Date format for logging
datetime=$(date '+%Y-%m-%d %H:%M:%S')

#Loop stats script every this many seconds
sleepytime=600
#Else change to false if you don't want it to loop
#sleepytime=false

#How many transactions back to scan for notarizations
txscanamount=777

#Lower threshold for KMD utxos
kmdutxoqty=50

#Lower threshold for assetchain utxos
acutxoqty=50

#Lower threshold for LTC utxos
ltcutxoqty=50

#Lower threshold for third party coin utxos
otherutxoqty=50

#Standard tx fee amount for KMD
txfeeperkb=0.000035

#Standard tx fee amount for Smartchains
sctxfeeperkb=0.000035

#size to monitor for in bytes
monitorsize=20000000
monitorsizekmd=20000000
monitorsizeother=20000000

#You can modify this list of ACs to exclude or comment out the line to show all
ignoreacs=('VOTE2018' 'VOTE2019' 'BEER' 'PIZZA')

#Location for nntools.log or set to blank to disable
nntoolslogfile=$HOME/nntools.log

#Define coins that are sprout
sproutcoins=('OOT' 'ZILLA')

#Add additional -addnode parameters for coin daemons
addnodes="-addnode=seed.komodostats.com -addnode=seed.webworker.sh"

#Configure initial seeds to connect to iguana network
#S6 1p seed examples
dpowseeds=('209.222.101.247' '103.195.100.32' '77.75.121.138' '77.75.121.140' '77.74.197.115' '158.69.18.121' '167.114.197.249' '15.235.64.45')
#S6 3p seed examples
#dpowseeds=('199.127.60.142' '104.238.221.61' '77.75.121.139' '77.74.197.116' '77.74.197.118' '158.69.18.122' '167.114.197.250' '15.235.82.132')

#which notaryid to use as reference node when checking masks (0 to 63)
referencenode=7

#additional address entries (used for checkaddresses and wallet reset scripts, safe to leave blank if not using these)
#(fill in on 1st party server)
ltc_address=

#(fill in on 3rd party server)
chips_address=
emc2_address=
aya_address=
sfusd_address=
mil_address=

#Number of threads to start mining with
miner_threads=1