#!/bin/bash
#
# Usage:
# cp config.example config
#
# Fill in your nn_address and nn_pubkey and make any relevant preference or system specific changes
#
# @author webworker01
#

#Full path to komodo-cli
komodocli=/usr/local/bin/komodo-cli

#Full path to komodod
komodod="$HOME/komodo/src/komodod"

#set to 1 if this is the server for third party coins, else leave as 0
thirdpartycoins=0

#Set iguana port (current 7776 for first party, 7779 for third party)
iguanaport=7776

#Enter your notary node compressed address (no quotes)
nn_address=

#Enter your notary node compressed pubkey (no quotes)
nn_pubkey=

#Enter your notary node IPv4 address
nn_ipaddress=

#Whitelist other addresses incoming funds are expected from - own address is automatically whitelisted
whitelist_addresses=("bDnbcXrZ4iMqfnybMgKjWvYosRzgVMToF8" "RKrMB4guHxm52Tx9LG8kK3T5UhhjVuRand" "RVB7Vd4JbbjQPV1WE5ZdeWmWo5EjMpXDH6")

#Date format for logging
datetime=$(date '+%Y-%m-%d %H:%M:%S')

#Loop stats script every this many seconds
sleepytime=600
#Else change to false if you don't want it to loop
#sleepytime=false

#How many transactions back to scan for notarizations
txscanamount=777

#Lower threshold for KMD utxos
kmdutxoqty=50

#Lower threshold for assetchain utxos
acutxoqty=50

#Lower threshold for BTC utxos
btcutxoqty=200

#Lower threshold for third party coin utxos
otherutxoqty=50

#Standard tx fee amount
txfeeperkb=0.000035

#size to monitor for in bytes
monitorsize=20000000
monitorsizekmd=20000000
monitorsizeother=20000000

#You can modify this list of ACs to exclude or comment out the line to show all
ignoreacs=('VOTE2018' 'VOTE2019' 'BEER' 'PIZZA')

#Location for nntools.log or set to blank to disable
nntoolslogfile=$HOME/nntools.log

#Define coins that are sprout
sproutcoins=('OOT' 'ZILLA')

#Add additional -addnode parameters for coin daemons
addnodes="-addnode=seed.komodostats.com -addnode=seed.webworker.sh"

#Configure initial seeds to connect to iguana network
dpowseeds=('95.213.238.100' '77.75.121.138' '103.6.12.105' '139.99.209.214')

#which notaryid to use as reference node when checking masks (0 to 63)
referencenode=7

#additional address entries
btc_address=
chips_address=
game_address=
emc2_address=
gin_address=
aya_address=